<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<!-- 消费方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用调用的,保持唯一性 -->
<dubbo:application name="dubbo-client"  />
	<dubbo:consumer timeout="1200000" />

<!-- 使用zookeeper注册中心发现暴露的服务地址 -->
<dubbo:registry address="zookeeper://192.168.1.101:2181" />
<dubbo:reference id="activeService" interface="com.jk.service.activeService.ActiveService"  timeout="1200000"  />
<dubbo:reference id="userService" interface="com.jk.service.userService.UserService" timeout="1200000"   />
<dubbo:reference id="stuService" interface="com.jk.service.StudentService"    />
<dubbo:reference id="commentService" interface="com.jk.service.CommentService"    />
<dubbo:reference id="adminService" interface="com.jk.service.admin.AdminService"    />

</beans>
